<div id="<%= dom_id leader %>">
  <p>
    <strong>Leader:</strong>
    <%= leader.Leader %>
  </p>

  <p>
    <strong>Civilization:</strong>
    <%= leader.Civilization %>
  </p>

  <p>
    <strong>Leaderability:</strong>
    <%= leader.LeaderAbility %>
  </p>

  <p>
    <strong>Leaderagenda:</strong>
    <%= leader.LeaderAgenda %>
  </p>

</div>
