<div id="<%= dom_id leader %>">
  <p>
  <h5 class="card-title"><%= leader.Leader %></h5>
  </p>

  <p>
    <strong>Civilization:</strong>
    <%= leader.Civilization %>
  </p>

  <p>
    <strong>Leader Ability:</strong>
    <%= leader.LeaderAbility %>
  </p>

  <p>
    <strong>Leader Agenda:</strong>
    <%= leader.LeaderAgenda %>
  </p>

</div>




